<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="log-dir">${sys:logRoot:-/tmp/logs/solrmanager}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="ErrorLogAppender" fileName="${log-dir}/error.log"
                     filePattern="${log-dir}/error-%d{HH}0000-%i"
                     immediateFlush="false"
                     bufferSize="10000">
            <PatternLayout pattern="%d{YYYY-MM-dd'T'HH:mm:ss.SSSXXX}{GMT} %p [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="RollingFile" fileName="${log-dir}/solrmanager.log"
                     filePattern="${log-dir}/solrmanager-%d{HH}0000-%i"
                     immediateFlush="false"
                     bufferSize="10000">
            <PatternLayout pattern="%d{YYYY-MM-dd'T'HH:mm:ss.SSSXXX}{GMT} %-5level [%t] %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <asyncRoot level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="ErrorLogAppender" level="error"/>
        </asyncRoot>
    </Loggers>
</Configuration>
